body {
   max-width: 800px;
   font-family: 'Open Sans','Verdana', sans-serif;
   background: #d2f4ff;
   color: #333;
   margin: 0;
   text-align: left;
   padding: 1rem;
}

h1, h2 {
   font-family: 'Merriweather','Palatino', serif;
}

.highcharts-tooltip h3 {
   margin: 0.3em 0;
}
#container {
 min-width: 310px;
 max-width: 800px;
 height: 400px;
 margin: 0 auto;
}

#container2 {
height: 800px;
min-width: 310px;
max-width: 650px;
margin: 0 auto
/*
min-width: 320px;
 max-width: 800px;
 height: 400px;
 margin: 0 auto;
 padding-bottom: 3.5rem;
*/
}

#container, #container2 {
  max-width: 100%;
}

a {
  color: #51330B;
}
a:hover {
  color: #694311;
}

@media screen and (max-width: 650px) {
  container2{
   min-width: 310px;
   max-width: 800px;
   height: 400px;
   margin: 0 auto;
  }
}
